Pillow==10.3.0
aiofiles==24.1.0
aiohttp==3.10.1
bokeh==3.4.1
bs4==0.0.2
cachetools==5.3.3
click==8.1.7
cmocean==4.0.3
cooler==0.10.0
fbpca==1.0
gdown==5.2.0
hmmlearn==0.3.2
joblib==1.4.2
matplotlib==3.9.0
ncls==0.0.68
numpy==1.26.4
omegaconf==2.3.0
openpyxl==3.1.5
opt-einsum==3.3.0
pandas==2.2.2
psutil==5.9.8
py3nvml==0.2.7
pyarrow==17.0.0
pybedtools==0.10.0
pynndescent==0.5.12
requests==2.32.3
scipy==1.13.1
seaborn==0.13.2
sparse==0.15.4
tqdm==4.66.4
typer==0.12.3
typing_extensions==4.12.2
umap-learn==0.5.6
# Optional?
polars==1.4.1

h5py
scikit-learn
pyfftw
opencv-python
scikit-image
notebook
ipywidgets
biopython
-e .
